In [1]:
!pip install pandas

Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in e:\anaconda\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in e:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in e:\anaconda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df=pd.read_csv("combined_dataset.csv")

In [5]:
df.head()

,YEAR,WARNER BROS,WALT DISNEY,20TH CENTURY FOX,PARAMOUNT PICTURES,SONY PICTURES,UNIVERSAL,TOTAL MAJOR 6,TOTAL OTHER STUDIOS,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE
0,2021,17,7,0,4,16,17,61,38,"42,37,74,881","$3,881,777,912","$3,881,777,912",$9.16
1,2020,5,3,1,3,9,13,34,23,"22,36,38,958","$2,048,534,616","$2,048,534,616",$9.16
2,2019,18,10,11,9,18,21,87,44,"1,22,85,41,629","$11,253,443,955","$11,253,444,050",$9.16
3,2018,19,10,11,10,16,20,86,58,"1,31,15,36,128","$11,948,096,650","$12,013,670,952",$9.11
4,2017,18,8,14,10,16,15,81,50,"1,22,56,39,761","$10,993,991,460","$11,226,860,216",$8.97

In [6]:
df.tail()

,YEAR,WARNER BROS,WALT DISNEY,20TH CENTURY FOX,PARAMOUNT PICTURES,SONY PICTURES,UNIVERSAL,TOTAL MAJOR 6,TOTAL OTHER STUDIOS,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE
22,1999,27,20,15,13,22,16,113,19,"1,44,46,64,086","$7,338,894,852","$13,233,123,027",$5.08
23,1998,27,21,11,11,20,16,106,20,"1,44,38,32,471","$6,771,575,283","$13,225,505,439",$4.69
24,1997,31,22,12,16,22,11,114,22,"1,35,73,49,648","$6,230,235,770","$12,433,322,785",$4.59
25,1996,31,23,13,16,24,13,120,22,"1,30,52,21,290","$5,769,078,886","$11,955,781,912",$4.42
26,1995,27,22,11,12,20,17,109,27,"1,22,17,05,907","$5,314,421,390","$11,190,826,105",$4.35

In [7]:
df.isna().sum()

YEAR                                   0
WARNER BROS                            0
WALT DISNEY                            0
20TH CENTURY FOX                       0
PARAMOUNT PICTURES                     0
SONY PICTURES                          0
UNIVERSAL                              0
TOTAL MAJOR 6                          0
TOTAL OTHER STUDIOS                    0
TICKETS SOLD                           0
TOTAL BOX OFFICE                       0
TOTAL INFLATION ADJUSTED BOX OFFICE    0
AVERAGE TICKET PRICE                   0
dtype: int64

## TICKETS SOLD

In [8]:
df["TICKETS SOLD"].unique()

array(['42,37,74,881', '22,36,38,958', '1,22,85,41,629', '1,31,15,36,128',
       '1,22,56,39,761', '1,30,25,56,378', '1,32,33,56,776',
       '1,25,74,02,920', '1,33,91,68,926', '1,38,09,21,942',
       '1,28,29,15,168', '1,32,85,49,021', '1,41,85,67,388',
       '1,35,80,42,073', '1,42,00,36,680', '1,39,87,38,283',
       '1,37,29,80,280', '1,49,56,51,298', '1,52,45,89,620',
       '1,57,57,56,527', '1,46,58,74,205', '1,39,74,60,079',
       '1,44,46,64,086', '1,44,38,32,471', '1,35,73,49,648',
       '1,30,52,21,290', '1,22,17,05,907'], dtype=object)

In [9]:
df.head()

,YEAR,WARNER BROS,WALT DISNEY,20TH CENTURY FOX,PARAMOUNT PICTURES,SONY PICTURES,UNIVERSAL,TOTAL MAJOR 6,TOTAL OTHER STUDIOS,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE
0,2021,17,7,0,4,16,17,61,38,"42,37,74,881","$3,881,777,912","$3,881,777,912",$9.16
1,2020,5,3,1,3,9,13,34,23,"22,36,38,958","$2,048,534,616","$2,048,534,616",$9.16
2,2019,18,10,11,9,18,21,87,44,"1,22,85,41,629","$11,253,443,955","$11,253,444,050",$9.16
3,2018,19,10,11,10,16,20,86,58,"1,31,15,36,128","$11,948,096,650","$12,013,670,952",$9.11
4,2017,18,8,14,10,16,15,81,50,"1,22,56,39,761","$10,993,991,460","$11,226,860,216",$8.97

In [10]:
df['TICKETS SOLD'] = df['TICKETS SOLD'].apply(lambda x: x.replace(",", ""))

In [11]:
df['TICKETS SOLD'].unique()

array(['423774881', '223638958', '1228541629', '1311536128', '1225639761',
       '1302556378', '1323356776', '1257402920', '1339168926',
       '1380921942', '1282915168', '1328549021', '1418567388',
       '1358042073', '1420036680', '1398738283', '1372980280',
       '1495651298', '1524589620', '1575756527', '1465874205',
       '1397460079', '1444664086', '1443832471', '1357349648',
       '1305221290', '1221705907'], dtype=object)

In [12]:
df["TICKETS SOLD"]=df["TICKETS SOLD"].apply(lambda x: int(x))

In [13]:
df['TICKETS SOLD'].unique()

array([ 423774881,  223638958, 1228541629, 1311536128, 1225639761,
       1302556378, 1323356776, 1257402920, 1339168926, 1380921942,
       1282915168, 1328549021, 1418567388, 1358042073, 1420036680,
       1398738283, 1372980280, 1495651298, 1524589620, 1575756527,
       1465874205, 1397460079, 1444664086, 1443832471, 1357349648,
       1305221290, 1221705907], dtype=int64)

## Total box offfice

In [14]:
df.columns

Index(['YEAR', 'WARNER BROS', 'WALT DISNEY', '20TH CENTURY FOX',
       'PARAMOUNT PICTURES', 'SONY PICTURES', 'UNIVERSAL', 'TOTAL MAJOR 6',
       'TOTAL OTHER STUDIOS', 'TICKETS SOLD', 'TOTAL BOX OFFICE',
       'TOTAL INFLATION ADJUSTED BOX OFFICE', 'AVERAGE TICKET PRICE'],
      dtype='object')

In [15]:
len=df['TOTAL BOX OFFICE'].unique()

In [16]:
len

array(['$3,881,777,912 ', '$2,048,534,616 ', '$11,253,443,955 ',
       '$11,948,096,650 ', '$10,993,991,460 ', '$11,267,115,924 ',
       '$11,155,900,636 ', '$10,272,985,008 ', '$10,887,446,341 ',
       '$10,992,141,616 ', '$10,173,519,704 ', '$10,482,254,025 ',
       '$10,639,257,284 ', '$9,750,744,148 ', '$9,769,854,914 ',
       '$9,161,738,221 ', '$8,800,805,718 ', '$9,287,996,519 ',
       '$9,193,277,289 ', '$9,155,147,215 ', '$8,296,849,636 ',
       '$7,532,311,479 ', '$7,338,894,852 ', '$6,771,575,283 ',
       '$6,230,235,770 ', '$5,769,078,886 ', '$5,314,421,390 '],
      dtype=object)

In [17]:
df['TOTAL BOX OFFICE'] = df['TOTAL BOX OFFICE'].apply(lambda x: x.replace("$", ""))

In [18]:
df['TOTAL BOX OFFICE'].unique()

array(['3,881,777,912 ', '2,048,534,616 ', '11,253,443,955 ',
       '11,948,096,650 ', '10,993,991,460 ', '11,267,115,924 ',
       '11,155,900,636 ', '10,272,985,008 ', '10,887,446,341 ',
       '10,992,141,616 ', '10,173,519,704 ', '10,482,254,025 ',
       '10,639,257,284 ', '9,750,744,148 ', '9,769,854,914 ',
       '9,161,738,221 ', '8,800,805,718 ', '9,287,996,519 ',
       '9,193,277,289 ', '9,155,147,215 ', '8,296,849,636 ',
       '7,532,311,479 ', '7,338,894,852 ', '6,771,575,283 ',
       '6,230,235,770 ', '5,769,078,886 ', '5,314,421,390 '], dtype=object)

In [19]:
df['TOTAL BOX OFFICE'] = df['TOTAL BOX OFFICE'].apply(lambda x: x.replace(",", ""))

In [20]:
df['TOTAL BOX OFFICE'].unique()

array(['3881777912 ', '2048534616 ', '11253443955 ', '11948096650 ',
       '10993991460 ', '11267115924 ', '11155900636 ', '10272985008 ',
       '10887446341 ', '10992141616 ', '10173519704 ', '10482254025 ',
       '10639257284 ', '9750744148 ', '9769854914 ', '9161738221 ',
       '8800805718 ', '9287996519 ', '9193277289 ', '9155147215 ',
       '8296849636 ', '7532311479 ', '7338894852 ', '6771575283 ',
       '6230235770 ', '5769078886 ', '5314421390 '], dtype=object)

In [21]:
df['TOTAL BOX OFFICE'] = df['TOTAL BOX OFFICE'].apply(lambda x: int(x))

In [22]:
df['TOTAL BOX OFFICE'].unique()

array([ 3881777912,  2048534616, 11253443955, 11948096650, 10993991460,
       11267115924, 11155900636, 10272985008, 10887446341, 10992141616,
       10173519704, 10482254025, 10639257284,  9750744148,  9769854914,
        9161738221,  8800805718,  9287996519,  9193277289,  9155147215,
        8296849636,  7532311479,  7338894852,  6771575283,  6230235770,
        5769078886,  5314421390], dtype=int64)

# TOTAL INFLATION ADJUSTED BOX OFFICE

In [23]:
df.columns

Index(['YEAR', 'WARNER BROS', 'WALT DISNEY', '20TH CENTURY FOX',
       'PARAMOUNT PICTURES', 'SONY PICTURES', 'UNIVERSAL', 'TOTAL MAJOR 6',
       'TOTAL OTHER STUDIOS', 'TICKETS SOLD', 'TOTAL BOX OFFICE',
       'TOTAL INFLATION ADJUSTED BOX OFFICE', 'AVERAGE TICKET PRICE'],
      dtype='object')

In [24]:
df['TOTAL INFLATION ADJUSTED BOX OFFICE'].unique()

array(['$3,881,777,912 ', '$2,048,534,616 ', '$11,253,444,050 ',
       '$12,013,670,952 ', '$11,226,860,216 ', '$11,931,416,424 ',
       '$12,121,948,075 ', '$11,517,810,744 ', '$12,266,787,382 ',
       '$12,649,244,986 ', '$11,751,502,955 ', '$12,169,509,032 ',
       '$12,994,051,137 ', '$12,439,665,380 ', '$13,007,535,993 ',
       '$12,812,442,671 ', '$12,576,499,367 ', '$13,700,165,883 ',
       '$13,965,240,914 ', '$14,433,929,789 ', '$13,427,407,722 ',
       '$12,800,734,319 ', '$13,233,123,027 ', '$13,225,505,439 ',
       '$12,433,322,785 ', '$11,955,781,912 ', '$11,190,826,105 '],
      dtype=object)

In [25]:
df['TOTAL INFLATION ADJUSTED BOX OFFICE'] = df['TOTAL INFLATION ADJUSTED BOX OFFICE'].apply(lambda x: x.replace("$", ""))

In [26]:
df['TOTAL INFLATION ADJUSTED BOX OFFICE'] = df['TOTAL INFLATION ADJUSTED BOX OFFICE'].apply(lambda x: x.replace(",", ""))

In [27]:
df['TOTAL INFLATION ADJUSTED BOX OFFICE'] = df['TOTAL INFLATION ADJUSTED BOX OFFICE'].apply(lambda x: int(x))

In [28]:
df['TOTAL INFLATION ADJUSTED BOX OFFICE'].unique()

array([ 3881777912,  2048534616, 11253444050, 12013670952, 11226860216,
       11931416424, 12121948075, 11517810744, 12266787382, 12649244986,
       11751502955, 12169509032, 12994051137, 12439665380, 13007535993,
       12812442671, 12576499367, 13700165883, 13965240914, 14433929789,
       13427407722, 12800734319, 13233123027, 13225505439, 12433322785,
       11955781912, 11190826105], dtype=int64)

# 'AVERAGE TICKET PRICE'

In [29]:
df['AVERAGE TICKET PRICE'].unique()

array(['$9.16 ', '$9.11 ', '$8.97 ', '$8.65 ', '$8.43 ', '$8.17 ',
       '$8.13 ', '$7.96 ', '$7.93 ', '$7.89 ', '$7.50 ', '$7.18 ',
       '$6.88 ', '$6.55 ', '$6.41 ', '$6.21 ', '$6.03 ', '$5.81 ',
       '$5.66 ', '$5.39 ', '$5.08 ', '$4.69 ', '$4.59 ', '$4.42 ',
       '$4.35 '], dtype=object)

In [30]:
df['AVERAGE TICKET PRICE'] = df['AVERAGE TICKET PRICE'].apply(lambda x: x.replace("$", ""))

In [31]:
df['AVERAGE TICKET PRICE'] = df['AVERAGE TICKET PRICE'].apply(lambda x: float(x))

In [32]:
df["AVERAGE TICKET PRICE"].unique()

array([9.16, 9.11, 8.97, 8.65, 8.43, 8.17, 8.13, 7.96, 7.93, 7.89, 7.5 ,
       7.18, 6.88, 6.55, 6.41, 6.21, 6.03, 5.81, 5.66, 5.39, 5.08, 4.69,
       4.59, 4.42, 4.35])

In [33]:
len.df["AVERAGE TICKET PRICE"].unique()

AttributeError: 'numpy.ndarray' object has no attribute 'df'

In [ ]:
len

In [34]:
df.isna().sum()

YEAR                                   0
WARNER BROS                            0
WALT DISNEY                            0
20TH CENTURY FOX                       0
PARAMOUNT PICTURES                     0
SONY PICTURES                          0
UNIVERSAL                              0
TOTAL MAJOR 6                          0
TOTAL OTHER STUDIOS                    0
TICKETS SOLD                           0
TOTAL BOX OFFICE                       0
TOTAL INFLATION ADJUSTED BOX OFFICE    0
AVERAGE TICKET PRICE                   0
dtype: int64

In [35]:
df.type

AttributeError: 'DataFrame' object has no attribute 'type'

In [36]:
df.head()

,YEAR,WARNER BROS,WALT DISNEY,20TH CENTURY FOX,PARAMOUNT PICTURES,SONY PICTURES,UNIVERSAL,TOTAL MAJOR 6,TOTAL OTHER STUDIOS,TICKETS SOLD,TOTAL BOX OFFICE,TOTAL INFLATION ADJUSTED BOX OFFICE,AVERAGE TICKET PRICE
0,2021,17,7,0,4,16,17,61,38,423774881,3881777912,3881777912,9.16
1,2020,5,3,1,3,9,13,34,23,223638958,2048534616,2048534616,9.16
2,2019,18,10,11,9,18,21,87,44,1228541629,11253443955,11253444050,9.16
3,2018,19,10,11,10,16,20,86,58,1311536128,11948096650,12013670952,9.11
4,2017,18,8,14,10,16,15,81,50,1225639761,10993991460,11226860216,8.97

## TOP dristibutor Data

In [56]:
df3=pd.read_csv("TopDistributors.csv")

In [57]:
df3.head()

,RANK\tDISTRIBUTORS\tMOVIES\tTOTAL GROSS\tAVERAGE GROSS\tMARKET SHARE,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"1\tWalt Disney\t588\t""$40",472,424,"278 ""\t""$68",830,"654 ""\t17.02%"
1,"2\tWarner Bros.\t824\t""$36",269,425,"479 ""\t""$44",16,"293 ""\t15.25%"
2,"3\tSony Pictures\t747\t""$29",113,2,"302 ""\t""$38",973,"229 ""\t12.24%"
3,"4\tUniversal\t535\t""$28",89,932,"569 ""\t""$52",504,"547 ""\t11.81%"
4,"5\t20th Century Fox\t525\t""$25",857,839,"756 ""\t""$49",253,"028 ""\t10.88%"

In [38]:
df3.set_axis(["a","b","c","d","e","f"], axis=1)

                                  a    b    c            d    e              f
0         1\tWalt Disney\t588\t"$40  472  424  278 "\t"$68  830  654 "\t17.02%
1        2\tWarner Bros.\t824\t"$36  269  425  479 "\t"$44   16  293 "\t15.25%
2       3\tSony Pictures\t747\t"$29  113    2  302 "\t"$38  973  229 "\t12.24%
3           4\tUniversal\t535\t"$28   89  932  569 "\t"$52  504  547 "\t11.81%
4    5\t20th Century Fox\t525\t"$25  857  839  756 "\t"$49  253  028 "\t10.88%
5  6\tParamount Pictures\t493\t"$24  361  425  304 "\t"$49  414  656 "\t10.25%
6            7\tLionsgate\t426\t"$9  631  837  781 "\t"$22  609   948 "\t4.05%
7             8\tNew Line\t209\t"$6  195  268  024 "\t"$29  642   431 "\t2.61%
8        9\tDreamworks SKG\t77\t"$4  278  649  271 "\t"$55  566   874 "\t1.80%
9             10\tMiramax\t385\t"$3  836   19   208 "\t"$9  963   686 "\t1.61%

In [39]:
df3.drop(labels=["b","c","d","e"], axis=1)

KeyError: "['b' 'c' 'd' 'e'] not found in axis"

In [58]:
df4=df3.set_axis(["a","b","c","d","e","f"], axis=1)

In [59]:
df5=df4.drop(labels=["b","c","d","e"], axis=1)

In [60]:
df5.head()

                                a              f
0       1\tWalt Disney\t588\t"$40  654 "\t17.02%
1      2\tWarner Bros.\t824\t"$36  293 "\t15.25%
2     3\tSony Pictures\t747\t"$29  229 "\t12.24%
3         4\tUniversal\t535\t"$28  547 "\t11.81%
4  5\t20th Century Fox\t525\t"$25  028 "\t10.88%

In [73]:
df5["f]"=df5["f"].apply(lambda x: x.replace("%", ""))

SyntaxError: invalid syntax (Temp/ipykernel_14212/795888024.py, line 1)

In [74]:
df5['f'] = df5['f'].apply(lambda x: x.replace("%", ""))

In [75]:
df5.shape

(10, 3)

In [76]:
df5["f"].unique()

array(['654 "\t17.02', '293 "\t15.25', '229 "\t12.24', '547 "\t11.81',
       '028 "\t10.88', '656 "\t10.25', '948 "\t4.05', '431 "\t2.61',
       '874 "\t1.80', '686 "\t1.61'], dtype=object)

In [77]:
df5['f'] = df5['f'].apply(lambda x: x.replace(x[:-5], ""))

In [78]:
df5["f"].unique()

array(['17.02', '15.25', '12.24', '11.81', '10.88', '10.25', '\t4.05',
       '\t2.61', '\t1.80', '\t1.61'], dtype=object)

In [79]:
df5['f'] = df5['f'].apply(lambda x: float(x))

In [80]:
df5["f"].unique()

array([17.02, 15.25, 12.24, 11.81, 10.88, 10.25,  4.05,  2.61,  1.8 ,
        1.61])

In [82]:
df5["Rank"]=df5["a"].apply(lambda x: x[0])

In [83]:
df5["Rank"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype=object)

In [84]:
df5["Rank"]=df5["Rank"].apply(lambda x: int(x))

In [88]:
df5.head(9)

                                  a      f  Rank
0         1\tWalt Disney\t588\t"$40  17.02     1
1        2\tWarner Bros.\t824\t"$36  15.25     2
2       3\tSony Pictures\t747\t"$29  12.24     3
3           4\tUniversal\t535\t"$28  11.81     4
4    5\t20th Century Fox\t525\t"$25  10.88     5
5  6\tParamount Pictures\t493\t"$24  10.25     6
6            7\tLionsgate\t426\t"$9   4.05     7
7             8\tNew Line\t209\t"$6   2.61     8
8        9\tDreamworks SKG\t77\t"$4   1.80     9

## How to use regex fuction here for separating the elements from column a